fieldset {
	width: 7em;
	line-height: ;
	display: inline-block;
	float: left;
}

.contacts {
	clear: both;
	width: 100%;
	box-sizing: border-box;
}
.contacts h4 {
	/*text-align: center;*/
}

.contactwrapper {
	display: none;
}

.appear {
	position: fixed;
	display:inline-block;
	margin-top: 1em;
	margin-left: 4em;
	text-transform: capitalize;
}

.appear h4 {
	text-align: center;
}

.phoneNumber2, .street2, .city2, .state2 {
	display: none;
}

.plusNumber, .plusAddress {
	cursor: pointer;
	color: green;
	font-size: 1.2em;
}

div.contacts li {
	cursor: pointer;
	text-transform: capitalize;
}