fieldset {
	width: 7em;
	line-height: ;
	display: inline-block;
	float: left;
}

.contacts {
	clear: both;
	width: 100%;
	box-sizing: border-box;
}
.contacts h4 {
	/*text-align: center;*/
}

.contactwrapper {
	display: none;
}

.appear {
	position: fixed;
	display:inline-block;
	margin-top: 1em;
	margin-left: 4em;
}

.appear h4 {
	text-align: center;
}